/* stili base progetto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: Arial, Helvetica, sans-serif;
}

/* stili corpo principale */
#main-list-product {
    width: 80%;
    margin: 0 auto;
}
.row-products {
    margin-bottom: 40px;
    margin-top: 50px;
}
.product {
    width: 33%;
    display: inline-block;
    padding: 0 5px 0 5px;
}
.section-photo-article {
    position: relative;
}
.product img {
    width: 100%;
}
.heart {
    position: absolute;
    top: 50px;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 35px;
}

.label {
    position: absolute;
    left: 0;
    bottom: 25px;
    font-size: 14px;
    font-weight: bold;
    color:#fff;
}
.label-discount, .sostenibilità {
    display: inline-block;
    font-weight: bold;
    padding: 4px;
    font-size: 14px;
}
.label-discount {
    background-color: red;

}
.sostenibilità {
    background-color: green;
}
.cost {
    color: red;
    font-size: 14px;
}
.cost .original-price {
    color: black;
    text-decoration: line-through;
}
/* scambio immagine articolo */
.second-image {
    display: none;
}
.section-photo-article:hover .second-image {
    display: inline-block;
}
.section-photo-article:hover .first-image {
    display: none;
}