/* stili base progetto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: Arial, Helvetica, sans-serif;
}

#container-header-nav {
    width: 100%;
    position: fixed;
    z-index: 50;
    background-color: #fff;
}
/* stili header */
header {
    display: inline-block;
    width: 60%;
}
#logo {
    margin: 10px;
    line-height: 70px;
    vertical-align: middle;
}
#logo-text {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

/* stili nav-bar */
nav{
    display: inline-block;
    line-height: 70px;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: black;
    padding: 7px 15px;
    font-size: 22px;
    vertical-align: middle;
    display: inline-block;
}
a:hover {
    background-color: #000;
    color: #fff;
}
#list-product {
    position: relative;
}
#list-product:hover #pop-up-products {
    display: block;
}
#pop-up-products {
    position: absolute;
    top: 70px;
    left: 0px;
    z-index: 100;
    width: 200px;
    font-size: 16px;
    display: none;
}
    /* ul {
        background-color: #000;
    } */
nav ul li {
    background-color: #000;
    color: #fff;
    list-style: none;
    line-height: normal;
    padding: 10px 15px;
    margin-bottom: 2px;
}


/* stili corpo principale */
main {
    padding-top: 70px;
}
#main-list-product {
    width: 80%;
    margin: 0 auto;
}
.row-products {
    margin-bottom: 40px;
    margin-top: 50px;
}
.product {
    width: 33%;
    display: inline-block;
    padding: 0 5px 0 5px;
}
.section-photo-article {
    position: relative;
}
.product img {
    width: 100%;
}
.heart {
    position: absolute;
    top: 50px;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 35px;
}
.label {
    position: absolute;
    left: 0;
    bottom: 25px;
    font-size: 14px;
    font-weight: bold;
    color:#fff;
}
.label-discount, .sostenibilità {
    display: inline-block;
    font-weight: bold;
    padding: 4px;
    font-size: 14px;
}

.label-discount {
    background-color: red;
}
.sostenibilità {
    background-color: green;
}
.cost {
    color: red;
    font-size: 14px;
}
.cost .original-price {
    color: black;
    text-decoration: line-through;
}
/* scambio immagine articolo */
.second-image {
    display: none;
}
.section-photo-article:hover .second-image {
    display: inline-block;
}
.section-photo-article:hover .first-image {
    display: none;
}